// Colors:
$color-primary-dark:    #161616;
$color-primary:         #262626;
$color-primary-light:   #a5a5a5;

$color-secondary-light: #7be4c4;
$color-secondary:       #00c687;
$color-secondary-dark:  #007045;