@import "../../../../styles/variables";
@import "../../../../styles/mixins";


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: $color-primary-dark;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  background-color: $color-primary;
  .mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.title-logo {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 10px;
}
